[2021-11-11 22:05] turbo1912 opened #9 "[Feature Request] Enable running python scripts in parallel"

[2021-11-11 22:06] turbo1912 opened #10 "[Feature Request] Better handling of python dependencies in scripts"

[2021-11-11 22:07] turbo1912 opened #11 "[Feature Request] Ability to load only incremental data with `ref()`"

[2021-11-15 22:14] turbo1912 opened #20 "[Feature Request] I would like to run my python scripts in dependency order"

[2021-11-17 18:23] turbo1912 opened #25 "[DevEx] Better error messaging when a dbt run is missing"
When the developer doesn't run dbt run but have models that have fal scripts those models dont have any run results.. and we error but not very descriptive, I think if we dont find run results 99% of the time its a wrong `dbt run`.

[2021-11-17 18:24] turbo1912 opened #26 "[DevEx] Developers would like to see which scripts are about to run and why?"
Log message in the beginning of `fal run`, which scripts are we running and why?

[2021-11-18 15:26] #25 closed

[2021-11-18 21:18] noel opened #38 "Allow users to use ref, source, and context within a Juputer notebook"
Given that the user has set up fal with the meta attributes, as I user I would like to do something like

[code]

[2021-11-19 15:57] mkam039 commented on #10
Do we want to create a virtual environment for the user or should there simply be a way to keep track of dependencies? If latter, we can encourage using a requirements.txt file, as [here](https://github.com/fal-ai/fal_dbt_examples/blob/main/requirements.txt). To get all the packages, the user would need to run `pip install -r requirements.txt`.

[2021-11-22 09:47] mkam039 commented on #26
This is resolved here: https://github.com/fal-ai/fal/commit/64941feac0ab3d703651b780da857a94aae91e95

I'm closing this issue.

[2021-11-22 09:47] #26 closed

[2021-11-22 18:42] chamini2 commented on #38
Hey, @noel, an proposal on how this would work is available in #45. It's a draft and has some pending work, but it currently looks like this:

[code]

[2021-11-30 19:12] chamini2 commented on #38
Hello, @noel. Now it is possible to import `FalDbt` from `fal` package and use it in the way I showed above. Please give it a try and let me know if you run into any issues.

[2021-11-30 19:12] #38 closed

[2021-11-30 19:26] noel commented on #38
I had missed the comment. I will give it a try

[2021-12-15 12:16] khookguy opened #76 "Using fal with Dbt Cloud"
How can we install and run fal in Dbt Cloud?

[2021-12-15 19:10] burkaygur opened #79 "fal should know about dbt Cloud Artifacts"
# DRAFT: fal dbt Cloud Specs

As of today, dbt cloud doesn't allow any external cli commands to be invoked other than dbt commands. This might be due to a few reasons including dbt labs wanting to keep dbt cloud as a secure environment that can only run known executables, difficulty of maintaining Python (or other languages) environments etc.

In order to run fal alongside dbt Cloud, we currently

[2021-12-15 20:06] burkaygur commented on #76
Hi @khookguy! We just started writing down our thoughts on how fal could work with dbt Cloud here: #79

Would love to get your feedback on it! You can also join our Discord server [here](https://discord.gg/Fyc9PwrccF).

[2021-12-15 20:07] burkaygur commented on #76
We can deliver this pretty fast if you like our solution! Let us know.

[2021-12-18 22:37] nicolasberbigier opened #83 "Upgrade to dbt=1.0.0"
Upgrade to dbt=1.0.0 seems to break fal
fal tries to search for
source-paths: ["models"] in dbt_project.yml whereas this is deprecated in dbt=1
and replaced by
model-paths: ["models"]

[2021-12-19 04:54] turbo1912 commented on #83
thanks @nicolasberbigier we are actively working on this please follow https://github.com/fal-ai/fal/pull/69. I will make sure to update this ticket when that PR is merged in.

[2021-12-20 23:31] chamini2 opened #86 "Consider how to run fal in a fresh environment"
Right now, we use dbt's [`run_results.json`](https://docs.getdbt.com/reference/artifacts/run-results-json) artifact  to decide which models to run based on status.

A use case [presented in the Discord channel](https://discord.com/channels/908693336280432750/908693336280432755/922375589074178089) is running in a fresh environment where there is no artifacts.

This happens by running each step in a

[2021-12-20 23:32] chamini2 commented on #86
Maybe we could start by handling `-m` and `-s` stays up for discussion.

The behaviour I would expect is, if I pass in `--all` or `--model`, it will ignore the `run_results.json`

[2021-12-22 15:26] turbo1912 commented on #86
[code]
I agree with this..

and then this brings up a related question how do we error out when there is no `run_results.json`? we should probably update that message to include information about `--all` and `--model`

[2021-12-22 20:30] chamini2 commented on #86
Agreed. Do we want to wait for more feedback or should we start adding `--model`?

[2021-12-23 09:07] thomasaarholt opened #87 "fal installation instructions with dbt 1.0"
Trying fal now after a recommendation through Slack. I installed dbt 1.0 by `pip install dbt-core`, as well as fal by `pip install fal`.
I ran into a few snags when installing fal in a clean python 3.9 environment, and it might be worth adding a note about dbt 1.0 to the fal readme.

- fal currently doesn't install dbt. I assume this is because of the change from `dbt` to `dbt-core`.
- fal relies

[2021-12-23 09:12] thomasaarholt commented on #87
For the second point, it would be much better to use:

[code]

[2021-12-23 09:13] mkam039 commented on #87
Hi @thomasaarholt! Thanks for raising this issue. We are actively working on supporting dbt 1.0 (see #69) and should release the new version soon. You're right, we should add a note about dbt 1.0 in README.

[2021-12-23 09:14] thomasaarholt commented on #87
Ah! I searched for `1.0` and didn't find the PR (I had to type 1.0.0...) :)

[2021-12-23 09:17] thomasaarholt commented on #87
My bigquery fix above works on 0.20 as well, I just checked:
![image](https://user-images.githubusercontent.com/2721423/147217991-942e2d41-a972-41c4-82bb-649e8faa634f.png)

[2021-12-23 09:18] thomasaarholt commented on #87
Should I make a PR?

[2021-12-23 09:18] thomasaarholt commented on #87
Ah, I see you have a fix as well in the 1.0.0 PR :) I'll leave that to you!

[2021-12-24 15:16] chamini2 commented on #83
@nicolasberbigier , we have just released a version compatible with dbt 1.0.0.

[code]

Please let us know how it goes and if anything else comes up!

[2021-12-24 15:16] #83 closed

[2021-12-24 15:16] chamini2 commented on #87
@thomasaarholt, we have just released a version compatible with dbt 1.0.0.

[code]

Please let us know how it goes and if anything else comes up!

[2021-12-24 15:16] #87 closed

[2021-12-24 15:45] turbo1912 opened #91 "fal-dbt feature store"
## What are we building?

fal-dbt feature store is an abstraction layer that will facilitate centrally managing the data transformations that empower predictive analytics with dbt worflows.

## **Why are we doing this?**

***Empower analytics engineer***: ML models and analytics operate on the same data. Analytics engineers know this data inside out. They are the ones setting up metrics, ensuring

[2022-01-03 18:25] chamini2 commented on #86
We talked on a meeting about leveraging the dbt flagging system instead of implementing `--model` manually.

[2022-01-12 15:23] sparrovv commented on #79
Hi 👋

Could you please clarify:

Questions:
- how would the connection to the warehouse work? I guess we would need to provide all necessary credentials in GH actions?

(but all in all that proposal makes sense to me, is anyone working on it?)

[2022-01-12 17:42] chamini2 commented on #79
Hello @sparrovv!

fal currently needs `run_results.json` dbt artifact to decide which models to run (unless ran using `--all` flag, and other flags coming soon), since the dbt run would happen in dbt-cloud environment, we do not have access to said artifact by default.

Part of the tasks the `fal-ai/fal-dbt-cloud` action would get done is download said artifact and making it available for the fal

[2022-01-13 18:28] chamini2 commented on #86
If I pass in --all or selection flags, it will ignore the run_results.json for deciding which models to run.
If run_results.json available, it will still load status information to pass to models; if it's not available, it still runs, but shows a warning.

If there is no run_results.json and I did not pass --all or selection flags, fail with exception about not having a way to decide which models

[2022-01-13 19:07] chamini2 opened #97 "[Bug] Too many messages received before initialization"
[code]

*****

*****

[Thread link](https://discord.com/channels/908693336280432750/908693336280432755/930791100803850283)

[2022-01-18 09:08] mmeasic commented on #97
Thanks for creating an issue, yes, this happens on version of dbt==0.21.0.

Let me know if you need more dependency infos.

[2022-01-19 17:50] will-regal-voice opened #101 "[Feature Request] fal should be able to report on dbt test success/failure status"
Currently, I do something like `dbt run` then `fal run`, and one of the python scripts I have messages slack depending on the dbt model's success/failure status.  I'd like to be able to do something similar with dbt tests

[2022-01-20 21:15] turbo1912 commented on #101
100% agreed fal should be able to handle `dbt tests` as well. I believe we can implement this fairly quickly I will update this post once its ready for consumption

[2022-01-27 18:59] burkaygur commented on #79
@sparrovv we just implemented this proposal and [wrote a blog post on it](https://blog.fal.ai/how-to-run-python-with-dbt-cloud-hint-no-need-for-airflow/).

As part of the implementation, we also published a new [Github Action to trigger dbt Cloud runs](https://github.com/marketplace/actions/dbt-cloud-action).

Looking forward to your feedback.

[Join us on Discord](https://discord.gg/Fyc9PwrccF) o

[2022-01-27 18:59] #79 closed

[2022-01-27 18:59] burkaygur commented on #76
@khookguy we just implemented this proposal and [wrote a blog post on it](https://blog.fal.ai/how-to-run-python-with-dbt-cloud-hint-no-need-for-airflow/).

As part of the implementation, we also published a new [Github Action to trigger dbt Cloud runs](https://github.com/marketplace/actions/dbt-cloud-action).

Looking forward to your feedback.

[Join us on Discord](https://discord.gg/Fyc9PwrccF) o

[2022-01-27 18:59] #76 closed

[2022-01-28 17:50] sungchun12 commented on #91
Love love love this. Let me know how I can help :)

[2022-01-31 13:24] mkam039 commented on #97
@mmeasic and @jelstongreen Hi, which version of Python are you using? Does the error happen when using version lower than 3.10?

[2022-01-31 13:52] jelstongreen commented on #97
Hi @mkam039, we are using 3.8

[2022-02-02 18:40] turbo1912 opened #107 "[Feature Request] `fal` should should support pre-hook python scripts"
### Why are we doing this?
Eventually we would like to enable adding python nodes to anywhere in a dbt dag, adding a pre-hook node is the best next step, and we already have users asking for it for simple EL use cases.

Similar to the `fal run` command today, `fal` users should be able to write python scripts that are configured to run before a dbt run.

Pre-hook scripts are called `before scripts

[2022-02-02 19:02] turbo1912 opened #108 "[Feature Request] `fal` should be able to run pre-hook python scripts, dbt, and post-hook python scripts from a single cli command"
Introducing `fal flow`, this command should handle all dbt cli params and run dbt and fal in the right order.
For example `fal flow run` should invoke `fal run --before`, `dbt run` and `fal run` in order with no regression in the `dbt run` behavior.

This should also work for all other `dbt` commands, such as `dbt test`, `dbt build`..

This command will be more powerful when used with model select

[2022-02-03 01:06] turbo1912 opened #109 "`fal flow` should be able add python nodes in between two sql dags in `dbt`"

[2022-02-04 15:50] #101 closed

[2022-02-04 16:39] mike-seekwell opened #111 "does write_to_source work cross database?"
e.g. is it able to use postgres as the source and snowflake as the destination?

[2022-02-04 17:12] turbo1912 opened #113 "[Feature Request] Global script context should include the dbt manifest"

[2022-02-04 17:21] turbo1912 commented on #111
Hey @mike-seekwell great question! This entirely depends on your dbt project. Fal right now is coupled to your dbt configuration. If you tell us a little bit about your usecase we can walk backwards from there and create a feature request.

It sounds like you are using fal as a standalone script and not at the end of a dbt run? or potentially you are using dbt to transform your postgres tables and

[2022-02-04 17:26] mike-seekwell commented on #111
It's running as part of dbt

Yes

[2022-02-04 17:33] turbo1912 opened #115 "[Feature Request] I would like a helper method that works like `write_to_source` but instead writes to external sources"

[2022-02-04 17:37] turbo1912 commented on #111
Got it! We actually have spoken to several other people who want to connect to external targets.

I have created an issue for your feature request, https://github.com/fal-ai/fal/issues/115.

One open question we have is where to read the db credentials for the external source, we think dbt profiles.yml is the best place for it but would love to hear what you think?

[2022-02-04 17:52] turbo1912 commented on #97
Sorry for the delay here but we are still unable to reproduce this. We are not sure if this is blocking anyone, if it is we have PR ready to disable logging on our side. Would appreciate if you can help us reproduce the problem. Is there a public project where this error can be observed that would be super helpful.

[2022-02-04 17:57] cesar-loadsmart opened #116 "fal running with DBT 0.19.0"
Hey folks, just a quick question, is it possible to run fal with dbt 0.19.0? if not, how long would it take to adapt fal to dbt 0.19.0?

[2022-02-04 18:05] chamini2 commented on #116
We currently don't support 0.19.0: https://github.com/fal-ai/fal#supported-dbt-versions

Changes between 0.19 and 0.20 are big enough in dbt's library that we decided to not support for now.

If its possible for your case, there is a [how-to by dbt](https://docs.getdbt.com/blog/upgrade-dbt-without-fear) on upgrading. You can join their Slack channel or our Discord server in case you have any quest

[2022-02-04 18:50] cesar-loadsmart commented on #116
Hey @chamini2, Appreciate it, thanks for replaying I'll try to upgrade my dbt version.

[2022-02-05 00:06] chamini2 commented on #116
Awesome! Let us know if it goes well and you are able to test fal!

[2022-02-05 00:06] #116 closed

[2022-02-07 22:02] turbo1912 opened #117 "I would like to run dbt macros directly from a python script"

[2022-02-10 06:10] #107 closed

[2022-02-10 14:15] chamini2 commented on #107
Closed with https://github.com/fal-ai/fal/pull/114

[2022-02-10 22:48] chamini2 opened #119 "[Feature Request] Make logging of insert statements for write_to_source optional or just remove it"
`cesarsantos#3303` in Discord asked for this probably to avoid logging sensible information or filling the logger with all the data there is.

[2022-02-10 22:51] chamini2 opened #120 "write_to_source to Redshift makes strings varchar(256)"
As discussed here: https://discord.com/channels/908693336280432750/940966301680156683

[2022-02-11 13:52] chamini2 opened #121 "write_to_source needs to escape string values"
[code]

In this case, the `sql` column is for SQL statements, which of course has quotes all around.

[2022-02-11 13:54] chamini2 commented on #119
The current implementation logs all queries sent to the whorehouse in https://github.com/fal-ai/fal/blob/3e10e0f1e635b61be60eaafa3c5c7f5bfabbbc1a/src/faldbt/lib.py#L111

[2022-02-11 13:55] chamini2 commented on #119
Maybe we could change that to `debug` level?

[2022-02-11 21:59] turbo1912 commented on #91
👀 https://github.com/fal-ai/dbt_feature_store 👀

[2022-02-16 19:28] chamini2 opened #131 "Consider offering an agate version of `ref` and `source` functions"
This is the way the data originally comes from the data warehouse, we transform it to pandas and we go back when doing `write_to_source`. Maybe it would be beneficial to offer not doing agate-pandas transformations at all for some tasks.

[2022-02-17 14:57] #119 closed

[2022-02-17 17:36] jelstongreen opened #137 "Bug in v 0.2.0+"
Since the latest release our fal task has started failing to run a python scripts and gives the following error:

[code]

[2022-02-17 18:10] mkam039 commented on #137
Which version of dbt are you using?

[2022-02-17 19:35] #137 closed

[2022-02-17 19:50] mkam039 commented on #97
Version 0.2.2 now has `--disable-logging` flag. Do you still get this error when logging is disabled?

[2022-02-18 10:03] jelstongreen commented on #97
Hi @mkam039 unfortunately still getting those logs coming through. Also have a new issue with v0.2.2 which I'll raise separately.

[code]

[2022-02-18 10:05] jelstongreen opened #141 "KeyError: 'column_name'"
Latest issue when using v0.2.2 -

[code]

[2022-02-18 10:13] mkam039 commented on #141
Thanks for raising this issue. Does this mean that you have generic tests not attached to any columns? Which means that they are not associated with any models?

[2022-02-18 10:21] jelstongreen commented on #141
Hi, we have model level tests and column level tests but not tests not assigned to anything afaik.

[2022-02-18 11:09] mkam039 commented on #141
Alright @jelstongreen, I just released another patch that should fix this error: https://pypi.org/project/fal/0.2.3/

Thank you very much for your time and patience 🙏 🙏 🙏

[2022-02-18 11:16] jelstongreen commented on #141
Sorry @mkam039 but getting this now
[code]

[2022-02-18 11:20] mkam039 commented on #141
@jelstongreen, you have an interesting test structure. Could we have a snippet of a schema.yml where a test is attached to a model but not to a specific column?

[2022-02-18 11:24] jelstongreen commented on #141
@mkam039 here you go
[code]

[2022-02-18 11:36] mkam039 commented on #141
Alright, I think I found the issue. Should release another patch soon.

[2022-02-18 11:41] mkam039 commented on #141
@jelstongreen, could you try this patch: https://pypi.org/project/fal/0.2.4/

[2022-02-18 11:44] jelstongreen commented on #141
@mkam039 Looks like that is working now, thank you!

[2022-02-18 11:44] #141 closed

[2022-02-18 11:44] mkam039 commented on #141
AWESOME! Thank you for your help!

[2022-02-18 13:05] mkam039 commented on #97
Hey @jelstongreen, that error list does look unwieldy. If you want no logs or print statements to show on your terminal, you can redirect the output to a file: `fal run > output_log`. This will create a file (output_log) and write all the output there. More about redirecting output: https://www.redhat.com/sysadmin/redirect-operators-bash

For actually resolving this issue, I'm curious if you get t

[2022-02-22 22:43] #120 closed

[2022-02-22 22:43] #121 closed

[2022-02-22 23:14] #86 closed

[2022-02-23 17:32] chamini2 opened #154 "write_to_source throws on certain characters"
We tried to fix this for https://github.com/fal-ai/fal/issues/121 in https://github.com/fal-ai/fal/pull/150 by simply escaping the known jinja syntax: `{` and `}`; but it comes back with other characters making it fail too:

![image](https://user-images.githubusercontent.com/2745502/155373592-47dc1c2b-14fd-4e55-ae33-2737e58eeb14.png)

*****

I think the real solution for this would be to try and d

[2022-02-24 13:34] #154 closed

[2022-02-24 17:41] chamini2 commented on #108
merged https://github.com/fal-ai/fal/pull/149 and with this it does

[code]

Still have to add --before handling

[2022-03-01 16:39] alexsandre1985 opened #168 "Hi"

[2022-03-04 15:13] #168 closed

[2022-03-04 15:16] chamini2 commented on #108
Merged https://github.com/fal-ai/fal/pull/161 and now this works by using the cli `fal flow run`

[2022-03-04 15:16] #108 closed

[2022-03-04 17:07] alexsandre1985 commented on #168
Hi how are you?

[2022-03-04 17:08] alexsandre1985 commented on #168
We are you ftom?

[2022-03-04 17:19] chamini2 commented on #168
Hi, @alexsandre1985 we are good, thanks for asking! This repository is dedicated to the CLI fal, do you have any questions or suggestions about it?

[2022-03-08 13:42] mkam039 opened #179 "I would like to trigger fivetran and airbyte sync from fal"
## New features requested:
- Ability to specify fivetran and airbyte (EL) connections in `profiles.yml`
- Magic functions for starting and checking sync operations

## Specifying EL connections in `profiles.yml`
[code]

## Magic functions for sync operations
[code]

These functions should also be available in FalDbt class:
[code]

Alternatively, we could have a combined sync function:
[code]

[2022-03-10 17:40] mkam039 commented on #179
🙏

- Yes, connections are for airbyte and connectors are for fivetran. Unifying it is an interesting idea. We would have to teach the users what definition would be though.
- I agree that being able to refer to connections by name would make it easier to work with them.

[2022-03-11 15:59] chamini2 commented on #179
You could want several Airbyte connections. I think we have to name a profile, like dbt names profiles (e.g. `dev` in your example profiles.yml)

[code]

This also makes me wonder about the need of the `el` property between `fal` and `my_fivetran`. Why would we need this and couldn't just list `my_fivetran` directly below `fal`?

[2022-03-11 16:15] mkam039 commented on #179
Great point about multiple Airbyte connections! But before implementing it, I would wait until a related issue is raised by a user actually needing that.

[2022-03-11 16:24] chamini2 commented on #179
But that means when asked about it we would release a breaking change. I think that matches the current dbt outputs approach and we want to probably be as close as possible to that.

This would change functions a bit:
[code]

Or:
[code]

*****

I am not inclined to any of the `el_sync` vs `airbyte_sync` yet. I may like `airbyte_sync` more to be able to specialize it as needed per possible EL tool;

[2022-03-11 18:29] burkaygur commented on #179
1) Let's call "fal" -> "fal_extract_load" and get rid of the "el" key.

2) Let's update el_sync function to remove target as an arg, and add name that corresponds to the key name of the connection.

[2022-03-13 16:08] RakibulHoque opened #184 "[Feature Request]Python script should be able to handle relative imports"
I was trying execute a script using `fal`, it works fine when full code is in a single script but breaks down when I write down my script to different modules. Probably this is because fal is internally using python's `exec` builtins function to execute the script after reading the file. Would appreciate it very much if you guys can add this feature to fal as soon as possible. It is a great tool t

[2022-03-14 09:20] mkam039 commented on #184
Hi @RakibulHoque! Thanks for raising this issue. I can confirm that splitting code into modules doesn't yet work with fal. Will start working on it ASAP.

[2022-03-14 14:15] omeroguz45 opened #185 "Add `upsert` and `overwrite` behaviors for `write_to_source`"
## New features requested:

An ability to prevent duplication in certain table types.

- `mode` argument for `write_to_source()` function to determine how the data will be written to source:
  - `mode='write'`: Write data to source with no deduplication measures
  - `mode='append'`: Append data with respect to timestamps to prevent duplication of data with the same timestamp
  - `mode='update'`: D

[2022-03-14 18:03] chamini2 commented on #185
As discussed in a meeting, let's do:

- `append`: the default behaviour that writes data to source with no deduplication measures
- `upsert`: based on a given column, do a typical UPSERT operation
[code]
- `overwrite`: Delete the contents of the table on the source and rewrite it

*****

Then, this would be passed in a `mode` argument

[code]

and `mode` can have the values like

[code]

or... we

[2022-03-14 19:40] RakibulHoque commented on #184
Thanks for quick response. :D

[2022-03-15 16:50] #184 closed

[2022-03-18 00:54] chamini2 opened #195 "Enable writing dataframes to a model"
# Initial proposal

The idea of this function is to be able to update a model table after it has been run (as an after-hook).

An example scenario would be:

[code]

Then, the after-hook:
[code]

*****

## How would the actual SQL statement look?

SQL does not match this kind of operation of inserting data on already existing rows very well. So you usually are updating data based on other database

[2022-03-18 01:14] burkaygur commented on #195
I have a potentially interesting idea:

what if we leverage the existing dbt macros to do the merge

so the operation would be:
1. upload the dataframe to a staging table
2. leverage the adapter specific “merge” macros to merge the two tables

i am thinking this: https://github.com/dbt-labs/dbt-core/blob/main/core/dbt/include/global_project/macros/materializations/snapshots/snapshot_merge.sql

and

[2022-03-18 02:17] burkaygur commented on #185
I like the naming, and I like option 3 for the arg names.

[2022-03-21 16:01] #97 closed

[2022-03-24 11:00] #179 closed

[2022-04-01 19:09] chamini2 commented on #10
This is also asked here: https://github.com/fal-ai/fal/discussions/199

[2022-04-04 19:24] chamini2 commented on #10
It was recently suggested in the dbt Slack channel #tools-fal to have a `fal deps` command which would install python packages.

[2022-04-19 22:40] valex92 opened #253 "Pass command line variables to fal flow"
Is there a way to pass command line variables to a fal flow run like we do for a dbt run?

$ dbt run --vars '{"key": "value"}'

[2022-04-20 00:44] chamini2 opened #255 "How to write dates and datetimes to database with write_to_source / write_to_model functions"
I have a dataframe with date values and when writing it with `write_to_model` (same for `write_to_source`) it fails not knowing what to do with it. I tried some `dtype` values and had no success.

dataframe.dtypes
[code]

**TODO: add error**

[2022-04-20 13:03] valex92 commented on #255
I believe this is a constraint of the sqlalchemy library. I had to convert dates and datetimes to string

[2022-04-20 13:59] chamini2 commented on #255
That is a good temporary solution. But I wonder if we could get fal to make this work automatically for date/datetime columns.

[2022-04-21 23:03] jakeluoma opened #261 "Adding the --target flag to `fal run`"
It would be very useful to be able to use fal with a dbt profile other than the default. For instance, I would want to be able to do `dbt run --target dev` followed by `fal run --target dev` where dev is not the default profile.

The current behavior is that fal does not recognize the --target flag, so I can't do `fal run --target dev` and I haven't found another way to get fal to recognize models

[2022-04-22 07:06] mkam039 commented on #261
Hi @jakeluoma! Thanks for raising this issue! We indeed do not process the `--target` flag in fal yet. I'm looking into it now.

[2022-04-22 11:38] chamini2 commented on #253
I will be getting this out soon, @valex92. Thanks for the issue!

[2022-04-22 11:41] chamini2 commented on #185
We did overwrite in #224, but have not done upsert yet. For now upsert is for the user (download the dataframe, update it locally, overwrite it) to do, since doing it on our side is not trivial (many adapters to support) and want to maybe consider how to do it better.

If anyone needs upsert, open a ticket and we will consider re-prioritizing it.

[2022-04-22 11:41] #185 closed

[2022-04-22 11:43] chamini2 commented on #195
We are avoiding updates for now and just support append and overwrite behavior for the new `write_to_model` function (#249).

[2022-04-22 16:00] jakeluoma commented on #261
Hi @mkam039, now that the PR is merged, I tested it out (dbt run --target dev; fal run) and everything works as expected. Thank you very much for implementing this!

[2022-04-22 19:26] #253 closed

[2022-04-22 19:28] turbo1912 commented on #261
fantastic! closing the PR please  re-open if you have any further questions

[2022-04-22 19:28] #261 closed

[2022-04-22 19:30] turbo1912 commented on #253
@valex92, we merged the featured and published a new release, please let us know if this fixes your problem

[2022-04-29 00:09] chamini2 opened #274 "Support Python 3.7 like dbt"
[code]

[2022-04-29 00:10] chamini2 commented on #274
We should setup a daily integration test run with all pythons supported by dbt

[2022-05-02 18:31] Antobiotics opened #281 "`fal flow run` does not select scripts with certain selector"
When using `fal flow run` with a selector, for example `fal flow run -m "+final_model"`
FAL does not select the scripe parent nodes that are directly after a DBT model node predecessor.

It seems to appear: https://github.com/fal-ai/fal/blob/0fe92da47472733eb7ee793b02b16b1f05f39371/src/fal/cli/selectors.py#L77

[2022-05-02 20:46] chamini2 commented on #274
Supported since 0.2.16

[2022-05-02 20:46] #274 closed

[2022-05-02 20:53] chamini2 commented on #281
In the above commit I added an example of this issue happening. Run

[code]
to get the correct behavior:
[code]

vs

[code]
to show the error:
[code]

[2022-05-02 20:56] #109 closed

[2022-05-03 20:34] chamini2 commented on #281
Hey @Antobiotics , as it happens, this is actually expected behavior for the current implementation.

We currently build a graph where any fal after-script is considered a node itself. And the dbt graph is kept as it was, just with some new nodes _downstream_ of the existing nodes.

In this example it would look like this:
![image](https://user-images.githubusercontent.com/2745502/166558968-7f746c

[2022-05-04 07:42] Antobiotics commented on #281
Hi! Thank you for coming back to me with such clear explanation and thank you for the selector suggestions. I will use that meanwhile you are developing those new features.

The idea of having python models would be amazing actually, that would really help making the flows clear to the user and keep the graph building process relatively simple!

I really like the ideas behind FAL, so it was a plea

[2022-05-04 15:02] emekdahl-palmetto opened #282 "[BUG] write_to_source fails silently when source doesn't exist or schema doesn't match"
**Describe the bug**

When the source is missing or the schema doesn't match, write_to_source fails silently if mode is unspecified. Sometimes I will want to create tables with fal based on modeling, so this is important!

**Your environment**
- `fal` version: 0.2.16
- OS: Mac

**How to reproduce**
- delete a source or modify the schema
- use `write_to_source` function with no mode parameter

**Ex

[2022-05-05 04:17] deeprout opened #286 "fal flow run only runs the dbt model but not the fal script inside meta"
I was trying to run `fal flow` but it does not run the python script defined inside the meta tag. `dbt run` followed by a `fal run` works as expected.

[code]

[2022-05-05 13:25] turbo1912 commented on #286
@deeprout after having a second look at your example, you will have to run:
[code]

Notice the `+`.. we designed `fal flow run` to behave exactly like the `dbt run`.  So `fal flow run` doesn't know about which dbt models ran before does whatever the graph selector (the plus sign) tells fal to do. I admit it's a little confusing now.

We have some changes planned to make it more clear check out thi

[2022-05-05 13:28] deeprout commented on #286
Actually, we parse each model from the manifest and build airflow dag to run them. The command runs from airflow.

[2022-05-05 14:01] emekdahl-palmetto opened #287 "[QUESTION]: Which database should write_to_source write to when testing locally?"
When a dbt project has multiple profiles, which database should write_to_source write to?

Context: When implementing write to source, I ref-ed a source that was `PROD_DB.PROD_SCHEMA.PROD_TABLE` and I was testing on an ephemeral branch `TEST_DB.EPHEMERAL_SCHEMA.EPHEMERAL_TABLE`.  Rather than going to either of those places, `write_to_source` wrote the data to `TEST_DB.SAME_NAME_AS_PROD_SCHEMA.SAME

[2022-05-05 14:02] emekdahl-palmetto commented on #282
Closing out this issue and opening a discussion instead. It turned out write_to_source was not failing silently but instead writing data to an unexpected location. https://github.com/fal-ai/fal/issues/287

[2022-05-05 14:03] deeprout commented on #286
It does.But we run multiple DBT run in a single instance/node at the same time.We change the target path so the files won't be overwritten by each other.How does  fal run behave in such scenario ? Will this correctly identify the context variables like model name based on the prior model ? If at a time multiple DBT runs are getting invoked ? Does it pick the value from any state file ?

[2022-05-05 18:14] sungchun12 opened #288 "Run jupyter notebooks `.ipynb` just like `.py` files"
**Problem**
fal can run python scripts but not jupyter notebooks natively
If I'm doing exploratory work in a notebook and want to automate that as part of the `fal flow run`, I have to refactor it as a python `.py` file. This adds redundant work that shouldn't be needed.

**Solution**
Allow `.ipynb` files to work
![image](https://user-images.githubusercontent.com/19176976/166987008-47d3dc04-6828-4

[2022-05-06 16:19] turbo1912 commented on #287
We are discussing this internally and will post an update when we have a path forward.

[2022-05-06 20:30] chamini2 opened #292 "Python after/before scripts should match how they are referenced in selection flags"
If we write in the yml file:

[code]

Then to select said script it should be (with any graph operator)

[code]

Right now it works with

[code]

[2022-05-06 22:03] chamini2 commented on #286
Hey, @deeprout, I think we would need to look a little bit into the details on how this is actually running for you. Curious on how you the target path for each of these runs? do you modify the dbt_project.yml or is there a flag maybe I don't know about?

fal just reads the `dbt_project.yml` and finds the `run_results.json` in the specified target path. Does this help you on how this works?

[2022-05-09 18:44] Shrpp opened #298 "Writing big table to BigQuery fails after 10 minutes."
I have a script that makes a clustering model and when i'm trying to extract data to bigquery with the function `write_to_model` it fails after 10 minutes with the log:

[log_message.txt](https://github.com/fal-ai/fal/files/8654408/message.txt)

[2022-05-09 19:48] chamini2 commented on #287
Hello! I have been able to reproduce this in Snowflake. We had not thought of this case. For documenting purposes.

Our sources in the yaml:
[code]

And the script which modifies it:
[code]

This is how our Snowflake tables look like after running this:
<img width="315" alt="image" src="https://user-images.githubusercontent.com/2745502/167486151-c8cdea7a-f0f1-45f9-ab12-7ced7ef45cdf.png">

[2022-05-09 22:35] turbo1912 opened #299 "deleted"

[2022-05-09 22:36] turbo1912 opened #300 "deleted"

[2022-05-09 22:38] chamini2 opened #301 "Pure Python models design"
Introduce Python-only models to fal. This mirrors the dbt models for SQL. A Python model will _be_ a script with a call to `write_to_model` that creates the table in the database. Python models can be referenced from other dbt models as well as python models in the project using the ref function.

- Python models can be used interchangeably with any dbt model in the fal flow graph selectors
- Pyth

[2022-05-09 22:43] #300 closed

[2022-05-09 22:50] #299 closed

[2022-05-10 01:30] emekdahl-palmetto commented on #287
Thanks for confirming replication , @chamini2 !

[2022-05-10 17:10] turbo1912 opened #303 "deleted"
linear

[2022-05-10 17:12] turbo1912 opened #304 "somone else did this"

[2022-05-10 17:23] #303 closed

[2022-05-16 13:54] ProdigyMaster opened #310 "How do I import own module?"
**Describe the bug**
Hey Guys 👋, I have a problem with importing my own module into fal:

![image](https://user-images.githubusercontent.com/528501/168607711-c45e2ed2-aeb2-44d6-ae0b-3ff1a36b7b28.png)

I want  fal to run only the main.py script, and other modules are imported inside the main:
![image](https://user-images.githubusercontent.com/528501/168608005-fc7856f8-0a00-436b-a56d-1841362aa65f.pn

[2022-05-16 14:31] chamini2 commented on #310
Hello, @ProdigyMaster, one easy way to do this is shown in this integration test: https://github.com/fal-ai/fal/tree/main/integration_tests/projects/006_script_paths/scripts

We have the script

https://github.com/fal-ai/fal/blob/97bac5ab8757d282f37985c50450df0ed86e8b3f/integration_tests/projects/006_script_paths/scripts/after.py#L1-L3

and the directory structure looks like:

[code]

*****

Does

[2022-05-17 06:54] ProdigyMaster commented on #310
![image](https://user-images.githubusercontent.com/528501/168747353-f2045e30-a53f-4413-b005-278a74085861.png)
![image](https://user-images.githubusercontent.com/528501/168747413-4cb0aebe-4dc6-413d-a6f5-d208d8c1a4b4.png)
![image](https://user-images.githubusercontent.com/528501/168747497-a1ab601f-538e-49e6-9c68-c55928404567.png)

@chamini2 Same Error. Sorry I probably don't get it 😥

[2022-05-17 08:26] ProdigyMaster commented on #310
Ok, the only way it works is to add absolute path to sys.path, and run it before main.py
![image](https://user-images.githubusercontent.com/528501/168765456-cd06e5b2-4804-47d5-abba-0dc4af525019.png)
![image](https://user-images.githubusercontent.com/528501/168765588-7a03a3e0-b94a-461f-ba87-730b43306bcc.png)

If you have any other smarter way, I would appreciate 😀

[2022-05-17 08:29] ProdigyMaster commented on #310
But the question is why fal doesn't add other files in the python folder to the path automatically? 🤔

[2022-05-17 10:21] mederka opened #314 "Let's use conventional commits"
**Is your feature request related to a problem? Please describe.**
We would like to have an automated way of tracking changes. This is ideally done by using a standardized commit message system.

**Describe the solution you'd like**
Let's use conventional commits: https://www.conventionalcommits.org/en/v1.0.0/

**Describe alternatives you've considered**
We could keep things the way they are

**Ad

[2022-05-17 17:57] mederka commented on #288
Hey @sungchun12! Thanks for raising this issue. We recently merged changes that should allow you to use notebook files as fal scripts. Here's how it works: https://fal-docs-cw7n0ro5b-features-and-labels.vercel.app/Docs/fal-cli/notebook-files

If it's OK with you, I will close this issue.

[2022-05-17 17:57] #288 closed

[2022-05-17 18:43] chamini2 commented on #314
https://semver.org/

Curious how git-cliff would handle major version 0. That is my main concern about automating this.

[2022-05-18 15:50] chamini2 commented on #310
Hello, @ProdigyMaster. Sorry that I am getting back to you so late.

fal does include a base directory from which to import your other scripts, it is by default the project dir. Which is the directory in which `dbt_project.yml` is.

In the case described here:

I think doing `import python.big_query_get_attributes as big_query` would do the trick. That is, adding a `python.` at the beginning of th

[2022-05-18 16:05] chamini2 opened #318 "Ad-hoc script running in fal runtime"
**Is your feature request related to a problem? Please describe.**
The fal runtime offers great easy usages like access to dbt functions (e.g. `ref`, `source`), automatically reading dbt profiles, etc.

But they are only available as a _associated_ script to a model or project, that is, added in a `schema.yml`.

**Describe the solution you'd like**
I would like to be able to run a script in the fa

[2022-05-19 08:23] ProdigyMaster commented on #310
@chamini2 It works! 🎉 Thank you very much 😀

[2022-05-19 12:59] mederka commented on #314
My thinking is that we can use git-cliff to generate a changelog for a part of our git history right before each release and we incorporate the changelog to our release message. No need to commit the changelog, as we will already have conventional commits to track changes.

Example git-cliff usage:

[code]

[2022-05-20 16:03] #310 closed

[2022-05-24 17:46] chamini2 opened #327 "Probable race condition for Postgres write_to_source implementation"
**Describe the bug**
During integration tests sometimes we get an error:

[code]

This happens in the test:

[code]

**Your environment**
- OS: ubuntu
- Paste the following commands output:
[code]
- Adapter being used: postgres

**How to reproduce**
It's right there: https://github.com/fal-ai/fal/runs/6578623088?check_suite_focus=true#logs

**Expected behavior**
No error

**Actual behavior**
Error

[2022-05-24 20:04] chamini2 opened #328 "Make fal scripts __name__ == '__main__'"
**Context**
When users test scripts they will normally have a

[code]

and the `main()` function will be where the whole script lives.

When a script is associated with a model, it is executed "directly". So it could be considered the "__main__" script.

**Describe alternatives you've considered**
Going for the dbt interface of offering a function.

[code]

[code]

[2022-05-24 21:33] #314 closed

[2022-05-24 21:33] mederka commented on #314
We're now using conventional commits

[2022-05-26 17:04] omeroguz45 opened #334 "Allowing magic functions to be used in functions imported from other scripts"
**Context**
Currently, when we are using magic functions (i.e. `source()` and `write_to_source()`) we have to use them in the same script that fal is being told to run. If you use them inside a custom function and try to use those functions in another script, even though you add the paths for both of the scripts in the schema, it fails.

**Is your feature request related to a problem? Please descr

[2022-05-27 22:05] felippecaso opened #336 "Support source status and test results in run context"
**Context**
fal provides information about model transformation status and their tests, but not for source tests. That prevents a use case of, for example, notifying all the failures in a `dbt build` command.

**Describe the solution you'd like**
Ability to access source test results in the `context` of a `fal run`.

**Describe alternatives you've considered**
Directly parsing manifest files (not

[2022-05-30 20:33] chamini2 commented on #334
A way to better support this would be by following dbt's Python model design which is based on functions that receive a "dbt" object.

[code]

instead of the current
[code]

[2022-05-31 15:57] emekdahl-palmetto commented on #328
bump! we also ran into this when deploying to prod

[2022-05-31 16:30] #301 closed

[2022-06-01 22:05] #328 closed

[2022-06-03 18:20] #336 closed

[2022-06-07 21:10] chamini2 opened #358 "Cannot instaniate and use more than one FalDbt objects at a time"
**Describe the bug**
When a FalDbt object is instantiated, it touches some data information on dbt's side, like the profile.yml that was read. We need to encapsulate this per instance.

**Your environment**
- OS: macOS 11.6.6
- Paste the output of the following command:
[code]
- Adapter being used: postgres **and** bigquery

**How to reproduce**
Setup the following in a file in `integration_tests/

[2022-06-07 21:19] turbo1912 commented on #327
Potential way to mitigate the issue

https://github.com/fal-ai/fal/commit/cea45838af997aa345b9865f4b1c24d6056aeb5e

[2022-06-08 21:32] chamini2 opened #368 "Add all models context in globals"
**Context**
I would like to know about all the models status and test status in a [global script](https://docs.fal.ai/Docs/fal-cli/global-scripts).

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Attaching an after script for each model there is.

[2022-06-09 07:37] mederka commented on #368
Is this about the ergonomics of `context.models`? If not, you can achieve this with the `list_models` function, it should return a list of DbtModel object with test data in them.

[2022-06-09 07:47] mederka opened #370 "Add search to docsite"
**Context**
I want to be able to search the docsite

**Is your feature request related to a problem? Please describe.**
Cannot search across pages right now

**Describe the solution you'd like**
A simple search field that is already supported by docusaurus would suffice

**Describe alternatives you've considered**
Using browser search functionality is not enough

[2022-06-09 09:04] mederka opened #371 "Add support for singular tests"
**Context**
dbt has two types of tests: singular and generic. Fal currently supports only generic tests. We need support for singular tests as well.

**Describe the solution you'd like**
 A list of singular tests should be accessible to the user, either via a dedicated `list_singular_tests` function or `context.singular_tests`.

[2022-06-09 15:57] mederka opened #379 "Update docs to show proper function returns"
Technically not a bug. It's just that the docsite is not showing the right information.

**Describe the bug**
docs.fal.ai now showing the wrong returns for `list_models` and `list_sources`. We now have DbtModel and DbtSource classes that represent these and their instances are returned in these functions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https

[2022-06-09 16:16] chamini2 commented on #117
closed in #374

[2022-06-09 16:16] #117 closed

[2022-06-12 22:09] smithj51 commented on #281
hi, I'm having a similar issue with selectors
I run the following:
`fal flow run --select test1 pre_script.py post_script.py`
which works great! the "before" python script runs, the model runs, and the "after" python script runs.
it should end there, but it starts doing "fal run" on all the other models. why is that? and how do I avoid that?

[2022-06-13 13:26] #368 closed

[2022-06-13 19:21] will-regal-voice opened #390 "support Source Freshness"
**Context**
What are you trying to do and how would you want to do it differently? Is it something you currently cannot do?

after I run `dbt source freshness`, have fal be aware of the results and (possibly) run python scripts based on the results
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated wh

[2022-06-14 06:53] #379 closed

[2022-06-16 16:55] chamini2 commented on #390
Hey! I have opened the PR #404 to support this and it would be accessible through `source.freshness.status`, which could be

- `'pass'`
- `'error'`
- `'warn'`
- `'runtime error'`

[2022-06-21 08:12] mdutoo opened #412 "Referencing a fal script from a dbt dependancy does not work anymore in fal 0.3.1"
**Describe the bug**
Referencing a fal script from a dbt "local" dependancy does not work anymore, though it worked in 0.2.17.
Workaround : use another kind of dbt dependancy such as "package" (though it is not as practical for dev purposes).

**Your environment**
- OS:
- Ubuntu 20.04.4 LTS, Python 3.8.10
- Paste the following commands output:
[code]
- Adapter being used:

**How to reproduce**
def

[2022-06-21 12:58] chamini2 commented on #412
Hello @mdutoo, thanks for reaching out. If I understand correctly, you are trying to use scripts from a project outside of the current project, right?

It would be like having this file structure
[code]

And using `publish.py` from a model in `some_project`?

[2022-06-21 13:12] mdutoo commented on #412
Yes, that's it, that's my need.
And thanks for your quick reply !

[2022-06-21 20:29] #390 closed

[2022-06-21 23:06] chamini2 commented on #412
Hey, @mdutoo I have checked with the team and this was not really intentionally supported before and we have introduced some changes that break this. Currently, we do not plan to support importing scripts from outside your dbt project. Although this may change in the future.

For now, I can offer you two ideas:

1. You can copy the scripts you need from the other project into the current project a

[2022-06-21 23:25] chamini2 commented on #390
Hey! We just released this in [v0.3.2](https://github.com/fal-ai/fal/releases/tag/v0.3.2). You can see how we use this here:
https://github.com/fal-ai/fal/blob/1aaddb169007b686935ad723c0d0eeb6bdba3012/integration_tests/projects/010_source_freshness/fal_scripts/freshness.py#L1-L15

[2022-06-22 14:43] mdutoo commented on #412
Thank you for your analysis, I understand.
Yes, that's what I do, right now I copy scripts. Referring to scripts within dbt dependency packages woould have been cleaner and maybe I'm not the one with this use case, but it works as is.

BTW now I'm afraid of telling you about my workarounds for other features, for fear of you disabling them ;)

[2022-06-28 23:45] chamini2 commented on #412
Closing this, but feel free to reopen or comment about this if you or anyone else wants!

[2022-06-28 23:45] #412 closed

[2022-07-04 15:17] chamini2 opened #437 "unclosed ssl.SSLSocket warning when finishing a run"
**Describe the bug**
I'm trying to set up a fal script to send a message to slack if a source fails a freshness test (using the functionality added in [this PR](https://github.com/fal-ai/fal/pull/404/files), very exciting work btw!).  I'm getting an issue with SSL sockets; details in thread.  I'd appreciate any help, thanks!

[code]

**Your environment**
- OS: [TODO]
- Paste the following commands

[2022-07-05 11:04] quinnhornblow opened #438 "Write_to_model target error: multiple values for argument 'target_1'"
First time using fal so I am starting small. I have a simple python file that reads:

[code]

I then run `fal flow run --experimental-models`
I should note that this is a stand alone model, there is no meta: --before/--after references.

Upon running the ref is loaded and prints to the terminal. But then throws  `TypeError: multiple values for argument 'target_1'`

Any thoughts? I've replicated on

[2022-07-05 11:10] quinnhornblow commented on #438
Found my mistake, should have been `write_to_model(df, mode="overwrite")`

[2022-07-05 12:52] mederka commented on #438
Thank you for trying fal, @quinnhornblow 🙏. Let us know if you run into any other issues.

[2022-07-05 22:32] quinnhornblow opened #441 "Writing to custom schema?"
Hi, I'm having trouble getting fal to place my models in the right place. I have a dbt_project.yml like so:

[code]

all my classic dbt models in the models/record_tables/ directory get placed into <target_schema>_<custom_schema> as discussed [here](https://docs.getdbt.com/docs/building-a-dbt-project/building-models/using-custom-schemas).

With `fal flow run --experimental-models`, fal models in t

[2022-07-05 22:45] chamini2 commented on #441
Hello, @quinnhornblow. I think we had not considered this use case before. In this case, changing to `write_to_soure` would not fix this. Let us take a look into supporting this. Thanks for the report!

[2022-07-05 23:15] chamini2 commented on #441
Can you paste the output of the commands

[code]

I have just tested this in our main branch and it seems to be working as expected for me with the postgres adapter.

[code]

Both `fal_008_model_e` and `fal_008_model_c` are fal models.

[2022-07-05 23:44] chamini2 commented on #441
What I am seeing is that we have a bug reading data from a custom schema (https://github.com/fal-ai/fal/pull/442) I will fix that in the meantime.

[2022-07-06 04:18] quinnhornblow commented on #441
fal = 0.3.4
dbt = 1.1.0

Thanks for looking into this

[2022-07-06 05:52] quinnhornblow commented on #441
I discovered that fal was writing to a redundant schema which I now deleted. Now It raises an error saying schema "" does not exist. That fix you mentioned above might do it.
Does fal use the process for generating a model name as [this](https://docs.getdbt.com/docs/building-a-dbt-project/building-models/using-custom-schemas#how-does-dbt-generate-a-models-schema-name) macro?

[2022-07-06 14:17] chamini2 commented on #441
It doesn't we get it from dbt and expect it to have it's correct value already.

[2022-07-07 20:28] chamini2 commented on #441
I think #442 will fix what you are seeing. I will let you know as soon as we release.

[2022-07-12 22:35] quinnhornblow opened #461 "[postgres] Out of memory error"
**Describe the bug**
Using fal to write a model df with size [3627697 rows x 7 columns] returns a memory error.
[code]

This looks like a psycopg2/sqlalchemy error rather than a fal error but I have not had this error before when writing a dataframe of this size. Is it possible that the write method fal uses could be adjusted to fix this? Previously I have used the function below with success on a

[2022-07-13 20:28] chamini2 commented on #441
Hello, @quinnhornblow . We have released [version 0.3.6](https://github.com/fal-ai/fal/releases/tag/v0.3.6) and it includes #442. Let me know if you have any problems, but I would expect this to be solved. You can reopen this if the behavior is not fixed or you find any other problem!

[2022-07-13 20:28] #441 closed

[2022-07-13 20:29] chamini2 commented on #327
It seems we really fixed this with #429

[2022-07-13 20:29] #327 closed

[2022-07-14 15:18] chamini2 commented on #461
Hello @quinnhornblow , thanks for reaching out. I will take a look at this ASAP. Thanks for the example script that would work for you. I will try to make it run out of memory for me and then test your script to see the difference.

[2022-07-14 20:39] quinnhornblow commented on #461
Thanks @chamini2, using the pandas to_sql method might also be a fix for the writing datetime issue.

[2022-07-20 16:00] chamini2 commented on #281
Hello @smithj51 and @Antobiotics, we have recently introduced `post-hooks` scripts, which always run alongside their models. This is probably what you would like to use for the use case you are describing.

So

[code]

would become

[code]

*****

And it would run the `predict.py` after `features_input` *always*, even if it fails (with a status representing if it passed or failed).

[code]

[2022-07-20 16:00] #281 closed

[2022-07-20 16:02] chamini2 commented on #286
Hey @deeprout , I think the closing comment in https://github.com/fal-ai/fal/issues/281#issuecomment-1190464724 may be of interest to you. Feel free to re-open if it does not address your issue.

[2022-07-20 16:02] #286 closed

[2022-07-25 14:52] chamini2 opened #476 "Non-data-generating models design"
**Context**
Sometimes a step is important in the DAG but does not really generate data in the data warehouse. How can we introduce them in fal?

[2022-07-27 23:54] chamini2 opened #486 "Stop trying to run sources in dbt runner"
**Describe the bug**
fal takes sources as valid nodes to run in dbt and tries to run them.
It mostly ends up in a no-op operation, but if the source shares name with a model it can run the wrong model.

**Expected behavior**
fal should not try to run sources in dbt.

**Screenshots**

![image](https://user-images.githubusercontent.com/2745502/181391848-7c2fc583-06be-44d9-8812-af867a7e3bc7.png)

[2022-08-01 22:30] #486 closed

[2022-08-03 19:44] miro-ur opened #497 "Better support for singular tests"
**Describe the bug**
Fal object model does not seem to support singular tests. Getting various errors with dbt project that uses custom singular tests (standalone sql tests).

[code]

**Your environment**
[code]
**How to reproduce**
We have a dbt project with generic and custom tests, running `dbt run` and then code above

**Expected behavior**
Expect to be able to retrieve items from tests collec

[2022-08-04 19:47] sajaysurya opened #502 "support `--full-refresh` flag with `fal flow run`"
**Context**
I usually to `dbt run --full-refresh` to completely recreate incremental models. Recently I switched to using `fal flow run --experimental-models` instead of `dbt run` to work with python models in the dbt dag. But fal flow run doesn't support the `--full-refresh` flag

**Describe the solution you'd like**
Pass flags that are not supported by `fal flow run` to `dbt run` whenever `fal`

[2022-08-04 20:34] chamini2 commented on #502
Hello, @sajaysurya. We are currently adding support for this in #501 as someone just asked about it in our [Discord server](https://discord.com/invite/Fyc9PwrccF). We will be merging soon and I will comment in this ticket to let you know. Thanks for the report!

[2022-08-04 20:36] chamini2 commented on #502
This is great news! By the way, we recently dropped the flag `--experimental-models` flag and made the behavior the default!

You can find out more on our recent [changelog post](https://blog.fal.ai/0-4-0-moving-forward/).

[2022-08-04 20:49] chamini2 commented on #497
Thanks for the report @miro-ur , I will take a look!

[2022-08-05 14:32] sajaysurya commented on #502
Thanks for getting back so quickly!

[2022-08-08 19:20] fredmny opened #506 "Get metadata on sources"
**Context**
To use fal-ai to notify users via slack on failed source tests we would like to use the owner configured within the `metadata` tag, the same way as it's possible for models

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
To have a metadata parameter for each source (callable via list_sources() ) the same way it's already poss

[2022-08-08 20:19] chamini2 commented on #113
This does not feel as relevant today because our focus is more on flow run than fal run.

[2022-08-10 17:02] #371 closed

[2022-08-10 17:03] #497 closed

[2022-08-10 21:30] chamini2 commented on #506
Hello, @fredmny! Thanks for the idea. I will take a look at this now.

[2022-08-10 21:32] chamini2 commented on #497
@miro-ur , this is released in [0.5.1](https://github.com/fal-ai/fal/releases/tag/v0.5.1). Let us know if any other problem arises! Thanks for the report.

[2022-08-10 22:52] #506 closed

[2022-08-10 22:54] chamini2 commented on #506
And this has been released! Please test it with [v0.5.2](https://github.com/fal-ai/fal/releases/tag/v0.5.2)

*****

I guess it would look something like this:

[code]

Are you currently using `fal flow run`, `fal run` or the `FalDbt` object?

[2022-09-01 08:55] JimmyPoh88 opened #521 "Can this suppot dbt version 1.2.0?"
Hi, currently my dbt is running using version 1.2.0. Is it possible to run this without any issue?

[2022-09-01 14:36] chamini2 commented on #521
Hello, @JimmyPoh88. Thanks for asking. dbt 1.2.* **is** currently supported by fal, I will add this information to the README, since it seems we forgot.

Cheers!

PD: integration tests for 1.2: https://github.com/fal-ai/fal/actions/runs/2972497791

[2022-09-01 14:36] #521 closed

[2022-09-09 16:47] fredmny commented on #506
Hey, sorry for the late reply!!! I was getting ready for vacation and didn't see it. Thanks too much!
So far we are using the `fal run` command

[2022-09-14 15:16] rudeb0y opened #535 "Add the dbt target.name as a property on the context object"
**Context**
I am sending slack messages and to keep things simple I have opted for one channel. (for some given set of models, that's handled through meta anyway i.e. slack_channel_id).

However, doing this - it's hard to tell what the given environment was if you use one channel for all dbt invocations.

**Describe the solution you'd like**
I would like to be able to use context to access  dbt pr

[2022-09-15 17:03] fredmny opened #541 "fal is not identifying correct model status: returning `success` instead of `error`"
**Describe the bug**
fal is identifying a model that finished with an error on the dbt Cloud job as having the status `success`.

We are running the  dbt job (cloud) with the Github Action from fal and aftewards running a script with `fal run` that checks all models (with `list_models()`) and sources (with `list_sources()`) and should send a Slack notification when a model finishes with an error o

[2022-09-16 14:41] chamini2 commented on #541
Hello, @fredmny, thanks for the detailed explanation!

I have a question regarding this. When you tested on the GithubAction with the test job, did you use the exact same script that did `list_models()` inside? Or did you create a different script to see the model's status directly?

Also, can you pleas add that `GithubAction with the test job` run output too? To see how they differ in the respons

[2022-09-16 16:16] fredmny commented on #541
Hello @chamini2

Thank you for looking at it.

Yes, it was the exact same script. The only thing that changed was the job in dbt Cloud (to not run all models in production)

Of course. I don't know if this is enough, but here it is:

- Output of dbt run:
[code]

- Output of model status from fal (this logging message is custom - I wrote it - but it uses the `model.status` parameter
[code]

But jus

[2022-09-19 14:35] chamini2 commented on #541
OK, thanks for the detailed differences. Found the culprit there!

When enabling `Generate docs on run`, it runs `dbt docs generate` and the artifact we download in the GH action is from that command:

Example I got when testing:
[code]

NOTE: Left the important info from the JSON only.

*****

I will see if it makes sense to try to get `dbt run` results. An immediate fix is to disable the docs ge

[2022-09-19 15:06] #541 closed

[2022-09-19 15:51] fredmny commented on #541
Thanks for taking the time to look at this and for the comprehensive explanation!
From the [dbt docs](https://docs.getdbt.com/reference/commands/cmd-docs#dbt-docs-generate) I guess another option would be to use the `--no-compile` option. Is that correct?

[2022-09-19 16:15] chamini2 commented on #541
I think it would work, yes!

[2022-09-19 22:00] chamini2 opened #543 "Make dbt vars available in the script context"
**Context**
What are you trying to do and how would you want to do it differently? Is it something you currently cannot do?

Users may want to control some pre/post hook behavior based on vars passed. Currently it could be done with env_vars (`import os; os.getenv`), but no vars information is passed to script.

**Describe the solution you'd like**
The vars dict to be available in script context.

[2022-09-20 21:16] quinnhornblow opened #545 "fal script not executing (Could not read dbt sources artifact)"
Hey team,

I've noticed that some of my fal scripts are not executing. It took me a while to realize because it doesn't raise an obvious error.
Basically I call ```fal flow run --select [script.py]``` and the process runs in a couple of seconds, except that the script is never called. I can tell because there is a print statement that doesn't get output in the console, plus the outputs are not upd

[2022-09-20 22:52] turbo1912 commented on #545
Hi @quinnhornblow thanks for the bug report!

Can you also tell us a little bit about your `schema.yml` file? Do you have python scripts as well as fal python models?

[2022-09-21 01:40] quinnhornblow commented on #545
Hi @turbo1912 ,

My schema.yml is very basic.

[code]

The fal-python model 'dry_weather_records_excl_tide.py' calls another function inside a utils.py file. Similar to the setup used in [jaffle-shop-fal](https://github.com/fal-ai/jaffle_shop_with_fal) repo.
The documentation seems to have changed slightly since I got this workflow going but it is intended to be a fal-python model not associated w

[2022-09-21 05:22] quinnhornblow commented on #545
Interestingly I was able to re-run the fal-python model successfully by first deleting the generated sql file. Although haven't been able to repeat this successfully (only worked once). But note the +12hr time shift from the successful log, 17:03 is the correct local time.

[code]

[2022-09-21 15:41] chamini2 commented on #461
Hello, @quinnhornblow! I think this may be better for Postgres specifically with the latest release [v0.6.0](https://pypi.org/project/fal/0.6.0/).

Can you please let me know if it is better now?

[2022-09-21 23:13] quinnhornblow commented on #545
Fixed with version 0.6 release.

[2022-09-21 23:13] #545 closed

[2022-09-21 23:19] quinnhornblow commented on #461
Fixed with version 0.6 release

[2022-09-21 23:19] #461 closed

[2022-09-22 17:12] #535 closed

[2022-10-07 13:34] jorserpl opened #568 "fal run --scripts selector with global scripts not working"
**Describe the bug**
Fal CLI `run` command using `--scripts` flag selector does not execute any script when the script passed is under the `before` key in the `schema.yml` configuration.

**Your environment**
- OS: macOS Monterrey 12.6
- Paste the following commands output:
[code]
- Adapter being used: bigquery

**How to reproduce**
Add scripts to run under `--before` key in the `schema.yml`:
[cod

[2022-10-07 13:40] mederka commented on #568
Thanks for raising this issue, @jorserpl ! We're looking into it.

[2022-10-10 18:03] #568 closed

[2022-10-10 18:05] mederka commented on #568
@jorserpl, quick update! We just merged a fix into `main` and will be releasing it in our next patch. In the meantime you can test it by cloning this repository and running `pip install -e .` inside the repository directory.

[2022-10-24 10:32] NoamMosko opened #590 "Support for dbt-core 1.3.0"
**Context**
currently fal doesn't work with dbt-core 1.3.0

**Additional context**
ImportError: cannot import name 'DEFAULT_PROFILES_DIR' from 'dbt.config.profile' (/opt/dbt_venv/lib/python3.7/site-packages/dbt/config/profile.py)

this is the error i receive

[2022-10-24 16:13] chamini2 commented on #590
This issue should go away with the latest version released, [0.7.0](https://pypi.org/project/fal/0.7.0/).

Please let us know if anything else breaks!

Also, check out necessary [changes for fal Python models](https://blog.fal.ai/python-data-modes/) to work with 1.3.0.

[2022-10-24 16:13] #590 closed

[2022-10-28 19:02] shivamsekra opened #597 "I dont want write_to_model , just want write_to_souce in my script. Can i do that? Is it possible to skip write_to_model?"
**Context**
What are you trying to do and how would you want to do it differently? Is it something you currently cannot do?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alter

[2022-10-28 19:03] shivamsekra opened #598 "I dont want write_to_model , just want write_to_souce in my script. Can i do that? Is it possible to skip write_to_model?"
**Context**
I want to just run write_souce instead of write_to_model.
AssertionError: There must be at least one write_to_model call in the Python Model

[2022-10-28 19:05] shivamsekra opened #599 "Instead of writing to DB and then calling in Fal py model. Can i run sql in fal model only and do write only once."
**Context**
What are you trying to do and how would you want to do it differently? Is it something you currently cannot do?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alter

[2022-10-28 19:06] shivamsekra opened #600 "Instead of writing to DB and then calling in Fal py model. Can i run sql in fal model only and do write only once."
**Context**
Instead of writing to DB and then calling in Fal py model. Can i run sql in fal model only and do write only once.
Beacuse currently logic makes two writes which is not scalable

[2022-10-28 22:15] turbo1912 commented on #600
Hi @shivamsekra happy to help with your request, but would like to understand your use case a little bit better. Are you just trying to transform a dbt model in place? dbt style data modelling usually recommends creating a new table for each stage of the transformation

[2022-10-31 16:58] #599 closed

[2022-10-31 16:58] #597 closed

[2022-11-14 19:53] turbo1912 opened #666 "Support trino in dbt fal"
**Context**
As a dbt-fal user, I would like to be able to run python models with fal while using the trino db

**Describe the solution you'd like**
This is already supported with fal CLI, so a similar approach would be suitable.

https://github.com/fal-ai/fal/commit/d08d2242732a3000f8b4b18c7643f58884a0acea

**Is there an existing feature request for this?**
 * [ x]  I have searched the existing is

[2022-11-14 22:17] daveworth opened #667 "Support dbt's --no-use-colors flag in `fal` CLI"
**Context**
We are using `fal` CLI (via `fal flow run`) to manage running both Python and dbt models.  In production we run `dbt` using `--no-use-colors` in order to keep our production (AWS CloudWatch) logs smaller and "cleaner".

**Describe the solution you'd like**
`fal` CLI should implement/respect the `--no-use-colors` flag such that

1. `fal` does not emit colors during the "Python stages" o